@media only screen and (max-width: 1000px) {
    .primary-navigation {
        gap: 1rem;
        position: fixed;
        inset: 0 0 0 50%;
        z-index: 1000;
        flex-direction: column;
        padding: min(40vh, 6rem) 0;
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(1.1rem);
        transform: translateX(100%);
        transition: transform 450ms ease-in-out;

    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .toggle1 {
        display: block;
        position: absolute;
        width: 1.7rem;
        aspect-ratio: 1;
        border: 0;
        top: 2rem;
        right: 2.5rem;
        z-index: 9999;
    }

    .nav-menu .nev-profile-menu {
        right: -120px;
    }
}



@media only screen and (max-width: 539px) {
    .header-image-controls .header-span-heading {
        display: none;
    }
}

@media only screen and (min-height: 900px) {
    .primary-navigation {
        gap: 2rem;
        padding: min(40vh, 8rem) 0;
    }
}

@media only screen and (max-width: 300px) {
    .primary-navigation {
        gap: 1rem;
        padding: min(40vh, 4rem) 0;
    }
}

@media only screen and (min-height: 680px) {
    .sub-item {
        padding: 0.5rem 1.5rem;
    }
}

@media only screen and (max-height: 680px) {
    .sub-item {
        padding: 3.5px;
    }
}

@media only screen and (max-height: 680px) {
    .nav-menu .nev-profile-menu {
        width: 16rem;
    }
}
